############################################
# Maven
############################################
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

############################################
# Logs
############################################
*.log
logs/

############################################
# Spring Boot
############################################
*.jar
*.war
*.ear

############################################
# IntelliJ IDEA
############################################
.idea/
*.iws
*.iml
*.ipr
out/

############################################
# VS Code
############################################
.vscode/

############################################
# Eclipse
############################################
.project
.classpath
.settings/

############################################
# MacOS
############################################
.DS_Store

############################################
# Windows
############################################
Thumbs.db

############################################
# Env files
############################################
.env
.env.*
application-local.properties
application-dev.properties

############################################
# Test / coverage
############################################
coverage/
*.lcov
*.xlsx
*.csv
*.traineddata
*.jpg
*.jpeg
*.png
*.pdf

summary
